@import 'vender/reset';

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
  text-rendering: optimizelegibility;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

img {
  pointer-events: none;
}

.app {
  display: flex;
  position: absolute;
  flex-flow: column;
  height: 100%;
  width: 100%;
  .appContainer {
    display: flex;
    flex: 1 1 auto;
  }
}
