@import 'vender/reset';

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
  text-rendering: optimizelegibility;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

img {
  pointer-events: none;
}

.app {
  display: flex;
  position: absolute;
  flex-flow: column;
  height:calc(100vh - 2px);
  width: calc(100vw - 2px);
  font-family: 'Roboto', sans-serif;
  border: 1px solid transparent;
  .appContainer {
    display: flex;
    flex: 1 1 auto;
  }
  &.focused{
    border: 1px solid rgba(33, 33, 33, 0.32);
  }
}
