.cross-fade-appear {
  opacity: 0;
  &.cross-fade-appear-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
  }
}
.cross-fade-leave {
  opacity: 1;
  &.cross-fade-leave-active {
    opacity: 0;
    transition: opacity 400ms ease-in;
  }
}
.cross-fade-enter {
  opacity: 0;
  &.cross-fade-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
  }
}
.transition-container {
  will-change: transform;
  display: inline-block;
  height: 100vh;
  top: 0;
  z-index: -1;
  width: 100vw;
  position: absolute !important;
}
.backdrop {
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  position: fixed;
  display: block;
  background-clip: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: transparent;
  margin: -5px;
  -webkit-filter: blur(2px) brightness(45%);
}
.bottom-info-container {
  bottom: 20px;
  left: 30px;
  position: absolute;
  color: rgba(255, 255, 255, 0.25);
  font-size: 12px;
  font-weight: 500;
  .title {
    font-size: 17px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.35);
    font-weight: 400;
    float: left;
    transition: border-bottom 0.5s;
    &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    }
  }
  .rating {
    line-height: 20px;
    height: 20px;
    margin-left: 1px;
  }
  .year {
    line-height: 21px;
    height: 20px;
    margin-left: 6px;
  }
}
