.search-container {
    background-color: black;
    height: 100vh;
    width: 100vw;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.search-container .bottom-button-container {
    bottom: 20px;
    right: 30px;
    position: absolute;
}

.search-container .bottom-info-container {
    bottom: 20px;
    left: 30px;
    position: absolute;
}

.search-container .bottom-info-container .title {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.35);
    font-weight: 400;
    float: left;
}

.search-container .bottom-info-container .rating {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.25);
    font-weight: 500;
    line-height: 20px;
    height: 20px;
    margin-left: 1px;
}

.search-container .bottom-info-container .year {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.25);
    font-weight: 500;
    line-height: 21px;
    height: 20px;
    margin-left: 6px;
}

.search-container .bottom-button-container .bottom-btn {
    right: 0;
    padding: 5px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.search-container .cross-fade-leave {
    opacity: 1;
}

.search-container .cross-fade-leave.cross-fade-leave-active {
    opacity: 0;
    transition: opacity 0.7s ease-in;
}

.search-container .cross-fade-enter {
    opacity: 0;
}

.search-container .cross-fade-enter.cross-fade-enter-active {
    opacity: 1;
    transition: opacity 0.7s ease-in;
}

.search-container .cross-fade-height {
    transition: height .5s ease-in-out;
}

.search-container .transition-container{
    display: inline-block;
    position: absolute !important;
}

.search-container .search-container-backdrop {
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    position: fixed;
    display: block;
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: -5px;
    -webkit-filter: blur(3px) brightness(45%);
}

.search-container .search-box-contain {
    width: 40vw;
    min-width: 450px;
    background-color: rgba(255, 255, 255, 0.87);
    margin-top: 40vh;
    display: inline-block;
    text-align: left;
    height: 40px;
}

.search-container .search-box-contain .search-btn {
    position: absolute;
    right: 0;
    color: #4184F4;
}

.search-container .search-box-contain .searchtext {
    position: absolute;
    padding-right: 0px;
    width: calc(100% - 50px);
    font-weight: 400;
    height: 38px;
    font-size: 17px;
    padding-left: 10px;
    border: none;
    color: #484848;
    outline: none;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}
